.Stat__feedback {
  padding: 10px;
  text-align: start;
}

.Stat__title {
  margin-bottom: 16px;
}
.Stat__feedback > button {
  border: none;
  padding: 10px 15px;
  background-color: rgb(129, 181, 140);
  color: #fff;
  font-weight: 600;
  margin-left: 8px;
  margin-right: 8px;
  font-family: inherit;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0/0.5);
  transition: box-shadow 250ms linear;
  border-radius: 8px;
}

.Stat__feedback > button:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0/0.5);
}

.Statistic__title {
  margin-bottom: 8px;
}
.Flex {
  width: 400px;
  padding: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}
.Statistic__text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}
.Statistic__count {
  padding: 0 8px;
  background-color: rgb(129, 181, 140);
  color: #fff;
  border: 1px solid black;
  border-radius: 4px;
}
